.carousel{
  margin-top: 6rem;
  position: relative;
  .bg_img{
    height: 80rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media screen and (max-width: $breakpoint-lg) {
      height: 50rem;
    }
    @media screen and (max-width: $breakpoint-md) {
      height: 30rem;
    }
    @media screen and (max-width: $breakpoint-sm) {
      height: 20rem;
      
    }
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-bg-overlay;
      display: none;
      animation: animationShow 0.5s;
      svg{
        margin: auto;
        color: $color-white;
        font-size: 10rem;
        @media screen and (max-width: $breakpoint-sm) {
          font-size: 7rem;
        }
      }
    }
    &:hover .overlay{
      display: flex;
    }
  }
  button{
    position: absolute;
    top: 40%;
    svg{
      font-size: $font-50;
      color: $color-white;
      @media screen and (max-width: $breakpoint-md) {
        font-size: $font-40;
      }
      @media screen and (max-width: $breakpoint-sm) {
        font-size: $font-20;
      }
    }
  }
  .carousel_prev{
    left: 2%
  }
  .carousel_next{
    right: 2%;
  }
}
@keyframes animationShow{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}