.cinema{
  .cinema_system_tabs{
    .cinema_system_tablist{
      display: block;
      .cinema_system_tab{
        display: flex;
        margin: 2rem 0;
        opacity: 0.5;
        transition: all 0.5s;
        button{
          display: block;
          margin: 0 auto;
          width: 100%;
          background-color: transparent;
          img{
            width: 50%;
            
          }
        }
        
        &:hover{
          opacity: 1;
        }
      }
      .hr{
        width: 70%;
        margin: 0 auto;
      }
    }
  }
  .active{
    opacity: 1 !important;
  }
}