.header{
    .justify{
        justify-content: space-between;
        color: $color-white;
        .logo{
            img{
                width: 6rem;
                @media screen and (max-width: $breakpoint-sm) {
                    width: 5rem;
                }
            }
        }
        .nav{
            .link{
                font-size: $font-16;
                margin: 0 2rem;
                transition: all 0.5s;
                &:hover{
                    font-weight: bold;
                    color: $color-primary;
                }
            }
        }
        .header_sign{
            .link{
                button{
                    font-size: $font-14;
                    margin: 0 2rem;
                }
            }
        }
    }
      
    
     
}
.menu_mobile{
    font-size: $font-14;
    .paper{
        left: 30%;
        right: 0;
    }
    .sign_mobile{
            
        display: flex;
        justify-content: space-around;
        .link{
            display: block;
            margin: 0 2rem;
            button{
                font-size: 1.4rem;
            }
        }
    }
        
    .nav_mobile{
        display: block;
        
        .link{
            display: block;
            margin: 2rem;
            transition: all 0.5s;
            &:hover{
                font-weight: bold;
                color: $color-primary;
            }
        }
    } 
         
}

