.login {
  background-image: url("https://tix.vn/app/assets/img/icons/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  @media screen and (max-height: $breakpoint-sm) {
    height: 100%;
  }
  
  .login_main {
    margin: auto;
    width: 40rem;
    height: 60rem;
    background-color: $color-bg-sign;
    display: flex;
    padding: 4rem;
    border-radius: 1rem;
    @media screen and (max-width: $breakpoint-sm) {
      width: 100%;
      height: 100%;
    }
    .form {
      margin: auto;
      .title {
        color: $color-white;
        text-align: center;
        font-size: $font-12;
        img {
          width: 20rem;
          margin-bottom: 5rem;
        }
        margin-bottom: 3rem;
      }
      .form_control {
        border-color: white;
        .input_label {
          color: $color-white;
          font-size: $font-14;
        }
        .input {
          font-size: $font-14;
          color: $color-white;
          &::after {
            border-bottom: 0.2rem solid $color-primary;
          }
          &::before{
            border-bottom: 0.1rem solid $color-white;
          }
        }
        .form_error{
          color: $color-primary;
        }
      }

      button {
        background-color: $color-primary;
        color: $color-white;
        font-size: $font-14;
        margin-top: 5rem;
        margin-bottom: 1rem;
      }
      p{
        color: $color-white;
        font-size: $font-11;
        a{
          color: $color-primary;
          margin-left: 0.3rem;
        }
      }
    }
  }

}


