.sidebar {
  
  
    
  svg {
    font-size: $font-30;
  }
  hr {
    margin: 1rem 0;
  }
  .info {
    padding: 3rem 0;
    text-align: center;
    .avatar {
      margin: 1rem auto;
      width: 6rem;
      height: 6rem;
    }
  }
  .MuiListItemText-primary {
    font-size: $font-16;
  }
  .active {
    .MuiListItem-button {
      background-color: $color-primary;
      color: $color-white;
      svg {
        color: $color-white;
      }
    }
  }
  @media screen and (max-width: 959px) {
    display: none;
  }
}
