$color-white: white;
$color-black: black;
$color-primary: #FA5238;
$color-secondary: #7ED321;
$color-bg-sign: #0e274ac9;
$color-bg-overlay: #00000080;
$color-bg-rating: #091833cf;
$color-bg-time: #80808042;



$font-16: 1.6rem;
$font-14: 1.4rem;
$font-12: 1.2rem;
$font-11: 1.1rem;
$font-20: 2rem;
$font-25: 2.5rem;
$font-30: 3rem;
$font-40: 4rem;
$font-50: 5rem;
$font-60: 6rem;

$spacing-12: 1.2rem;






$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;